<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../bootstrap-import-styles/bootstrap4-styles.html">
<link rel="import" href="../bootstrap-import-styles/fontawesome-styles.html">

<dom-module id="ug-convocatoria-datos-docente">
  <template>
    <style include="bootstrap4-styles fontawesome-styles">
      :host { display: block; padding: 1rem }
      label { margin-top: .5rem; }
    </style>
    <iron-ajax 
      auto 
      url="{{urlDatosDocente}}" 
      handle-as="json" 
      last-response="{{jsonDatosDocente}}" 
      loading="{{loading}}"></iron-ajax>
    
    <section>
      <div class="card border-info">
        <div class="card-header text-center bg-info text-white">
          <span class="fa fa-user" aria-hidden="true"></span> Datos del Docente
        </div>
        <div class="card-body">
          <p class="card-text">
            <div class="row">
              <div class="col-sm">
                <label for="lb_campus" class="control-label" style="width:100%;">NUE: </label>
                <span id="lb_campus" class="text-info" style="width:100%;">{{jsonDatosDocente.nue}}</span>
              </div>
              <div class="col-sm-9">
                <label for="lb_campus" class="control-label" style="width:100%;">Nombre: </label>
                <span id="lb_campus" class="text-info" style="width:100%;">{{jsonDatosDocente.nombre}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label for="lb_campus" class="control-label" style="width:100%;">Campus: </label>
                <span id="lb_campus" class="text-info" style="width:100%;">{{jsonDatosDocente.campus}}</span>
              </div>
              <div class="col-md-4">
                <label for="lb_division" class="control-label" style="width:100%;">División: </label>
                <span id="lb_division" class="text-info" style="width:100%;">{{jsonDatosDocente.division}}</span>
              </div>
              <div class="col-md-4">
                <label for="lb_departamento" class="control-label" style="width:100%;">Departamento: </label>
                <span id="lb_departamento" class="text-info" style="width:100%;">{{jsonDatosDocente.departamento}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <label for="lb_carta_aceptacion" class="control-label" style="width:100%;">Teléfono: </label>
                <span id="lb_carta_aceptacion" class="text-info" style="width:100%;">{{jsonDatosDocente.telefono}}</span>
              </div>
              <div class="col-md-2">
                <label for="lb_cvu" class="control-label" style="width:100%;">Extensión: </label>
                <span id="lb_cvu" class="text-info" style="width:100%;">{{jsonDatosDocente.ext}}</span>
              </div>
              <div class="col-md-2">
                <label for="lb_cvu" class="control-label" style="width:100%;">Celular: </label>
                <span id="lb_cvu" class="text-info" style="width:100%;">{{jsonDatosDocente.celular}}</span>
              </div>
              <div class="col-md-3">
                <label for="lb_cvu" class="control-label" style="width:100%;">Correo-e: </label>
                <span id="lb_cvu" class="text-info" style="width:100%;">{{jsonDatosDocente.correoUG}}</span>
              </div>
              <div class="col-md-3">
                <label for="lb_cvu" class="control-label" style="width:100%;">Correo-e alterno: </label>
                <span id="lb_cvu" class="text-info" style="width:100%;">{{jsonDatosDocente.correoAlterno}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <label for="lb_cvu" class="control-label" style="width:100%;">Nivel SNI: </label>
                <span id="lb_cvu" class="text-info" style="width:100%;">{{jsonDatosDocente.nivelSNI}}</span>
              </div>
              <div class="col-md-4">
                <label for="lb_cvu" class="control-label" style="width:100%;">Vigencia SNI: </label>
                <span id="lb_cvu" class="text-info" style="width:100%;">{{fechaIniSNI}} - {{fechaFinSNI}}</span>
              </div>
              <div class="col-md-2">
                <label for="lb_cvu" class="control-label" style="width:100%;">Nivel PRODEP: </label>
                <span id="lb_cvu" class="text-info" style="width:100%;">{{jsonDatosDocente.gradoPRODEP}}</span>
              </div>
              <div class="col-md-4">
                <label for="lb_cvu" class="control-label" style="width:100%;">Vigencia PRODEP: </label>
                <span id="lb_cvu" class="text-info" style="width:100%;">{{fechaIniPRODEP}} - {{fechaFinPRODEP}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="lb_cvu" class="control-label" style="width:100%;">Cuerpo académico: </label>
                <span id="lb_cvu" class="text-info" style="width:100%;">{{jsonDatosDocente.cuerpoAcademico}}</span>
              </div>
            </div>
          </p>
        </div>
      </div>
    </section>

  </template>

  <script>
    /**
     * `ug-convocatoria-datos-docente`
     * Muestra la sección de solo consulta de los datos del Docente en base al idResponsable dela  convocatoria
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class UgConvocatoriaDatosDocente extends Polymer.Element {
      static get is() { return 'ug-convocatoria-datos-docente'; }
      static get properties() {
        return {
          fechaIniSNI: { type: String, computed: '_date1(jsonDatosDocente)' },
          fechaFinSNI: { type: String, computed: '_date2(jsonDatosDocente)' },
          fechaIniPRODEP: { type: String, computed: '_date3(jsonDatosDocente)' },
          fechaFinPRODEP: { type: String, computed: '_date4(jsonDatosDocente)' },
          idResponsable: Number,
          jsonDatosDocente: { type: Object, observer: '_obs' },
          meses: { 
            type: Array,
            value: ['ene','feb','mar','abr','may','jun','jul','ago','sep','oct','nov','dic']
          },
          urlDatosDocente: { type: String, computed: '_compUrl(idResponsable)' }
        };
      }

      _compUrl(idResponsable) {
        return App.Config.apppath + '/Convocatoria/findDatosDocenteByIdResponsable/' + idResponsable;
      }

      _obs() {
        console.log('this.jsonDatosDocente ==> ', this.jsonDatosDocente);
      }

      _date1(d) {
        if(d.fechaInicioSNI != undefined) {
          let f = new Date(Number(d.fechaInicioSNI.substring(6,19)));
          let day = (f.getDate() > 9) ? f.getDate() : '0' + f.getDate();
          console.log(' day 1 ==> ', day);
          console.log(' f 1 ==> ', day + '/' + this.meses[f.getMonth()] + '/' + f.getFullYear());
          return day + '/' + this.meses[f.getMonth()] + '/' + f.getFullYear();
        } return "";
      }
      
      _date2(d) {
        if(d.fechaFinSNI != undefined) {
          let f = new Date(Number(d.fechaFinSNI.substring(6,19)));
          let day = (f.getDate() > 9) ? f.getDate() : '0' + f.getDate();
          console.log(' day 2 ==> ', day);
          console.log(' f 2 ==> ', day + '/' + this.meses[f.getMonth()] + '/' + f.getFullYear());
          return day + '/' + this.meses[f.getMonth()] + '/' + f.getFullYear();
        } return '';
      }
      
      _date3(d) {
        if(d.fechaInicioPRODEP != undefined) {
          let f = new Date(Number(d.fechaInicioPRODEP.substring(6,19)));
          let day = (f.getDate() > 9) ? f.getDate() : '0' + f.getDate();
          console.log(' day 3 ==> ', day);
          console.log(' f 3 ==> ', day + '/' + this.meses[f.getMonth()] + '/' + f.getFullYear());
          return day + '/' + this.meses[f.getMonth()] + '/' + f.getFullYear();
        } return "";
      }
      
      _date4(d) {
        if(d.fechaFinPRODEP != undefined) {
          let f = new Date(Number(d.fechaFinPRODEP.substring(6,19)));
          let day = (f.getDate() > 9) ? f.getDate() : '0' + f.getDate();
          console.log(' day 4 ==> ', day);
          console.log(' f 4 ==> ', day + '/' + this.meses[f.getMonth()] + '/' + f.getFullYear());
          return day + '/' + this.meses[f.getMonth()] + '/' + f.getFullYear();
        } return "";
      }
      
    }

    window.customElements.define(UgConvocatoriaDatosDocente.is, UgConvocatoriaDatosDocente);
  </script>
</dom-module>
